%div{:style => "background: #0A3E5B"}
  .wrapper-lg
    .row.m-t
      .col-xs-3
        %a.thumb-lg.pull-left.m-r{:href => "#"}
          %img.img-circle.img-responsive{:src => "img/a0.jpg"}/
      .col-xs-9.profile-text
        %h2= "John Smith #{@user.full_name}"
        %h4 Bangalore, India
        %h4 Current Badge: Pickup
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero officiis doloribus voluptatem qui ipsa, reprehenderit optio omnis consequatur fugit, porro magni id impedit esse ad accusamus quisquam laboriosam accusantium minima. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequuntur ipsam veniam possimus deserunt porro ab minima odit voluptatibus pariatur blanditiis ex, nemo adipisci assumenda facere obcaecati laudantium necessitatibus, cupiditate?
      / col-xs-8
    / rom m-t
  / wrapper-lg bg-white-opacity
/ background style
/ col
.list-group-item
%h3.profile-header Progress to Next Badge
.progress
  .progress-bar.progress-bar-striped.active{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "45", :role => "progressbar", :style => "width: 45%"}
    %span.sr-only 45% Complete
  / progress-bar
/ progress
.badges
.list-group-item
  %h3.list-group-item-heading.profile-header Badges Earned
  .row
    .col-xs-3
      %h3.list-group-item-heading Most Valuable Player
      %img.img-responsive{:alt => "MVP", :src => "img/MVP_gold.png"}/
      %p.list-group-item-text
    / col-xs-2
    .col-xs-3
      %h3.list-group-item-heading Most Valuable Player
      %img.img-responsive{:alt => "MVP", :src => "img/MVP_gold.png"}/
      %p.list-group-item-text
    .col-xs-3
      %h3.list-group-item-heading Most Valuable Player
      %img.img-responsive{:alt => "MVP", :src => "img/MVP_gold.png"}/
      %p.list-group-item-text
    .col-xs-3
      %h3.list-group-item-heading Most Valuable Player
      %img.img-responsive{:alt => "MVP", :src => "img/MVP_gold.png"}/
      %p.list-group-item-text
    .col-xs-3
      %h3.list-group-item-heading Most Valuable Player
      %img.img-responsive{:alt => "MVP", :src => "img/MVP_gold.png"}/
      %p.list-group-item-text
    .col-xs-3
      %h3.list-group-item-heading Most Valuable Player
      %img.img-responsive{:alt => "MVP", :src => "img/MVP_gold.png"}/
      %p.list-group-item-text
    .col-xs-3
      %h3.list-group-item-heading Most Valuable Player
      %img.img-responsive{:alt => "MVP", :src => "img/MVP_gold.png"}/
      %p.list-group-item-text
    .col-xs-3
      %h3.list-group-item-heading Most Valuable Player
      %img.img-responsive{:alt => "MVP", :src => "img/MVP_gold.png"}/
      %p.list-group-item-text
    .col-xs-3
      %h3.list-group-item-heading Most Valuable Player
      %img.img-responsive{:alt => "MVP", :src => "img/MVP_gold.png"}/
      %p.list-group-item-text
    .col-xs-3
      %h3.list-group-item-heading Most Valuable Player
      %img.img-responsive{:alt => "MVP", :src => "img/MVP_gold.png"}/
      %p.list-group-item-text
  / row
/ list-group
/ badges
