%footer.panel-footer
	%div
		= form_for([@conversation, @conversation.messages.build], remote: true) do |f| 
			%div.input-group
				= f.text_field :body, class: 'form-control', required: true, maxlength: 2000
				%span.input-group-btn
					= f.submit 'Send', class: 'btn btn-default'
	