.col-md-3
	.panel.panel-default
		.panel-heading
			Leaderboard
		%ul.list-group.list-group-lg.m-b-none
			- 8.times do 
				%li.list-group-item
					%a.thumb-sm.m-r{:href => ""}
						= image_tag('a1.jpg', class: 'r r-2x')
					%a{:href => ""} Damon Parker