.row
	.col-sm-9
		.row
			.col-sm-4
				.panel
					.panel-body
						%h3 Current Badge
						/ = current_user.badges.last.name
			.col-sm-4
				.panel
					.panel-body
						Progress Next
			.col-sm-4
				.panel
					.panel-body
						Earnings YTD
			.col-sm-12
				.panel
					.panel-body	
						Game Stats
	.col-sm-3
		.panel
			.panel-body	
				Leaderboard