%aside#aside.app-aside.hidden-xs.bg-black.bold{:style => "position:fixed; height:100%;"}
  .aside-wrap
    .navi-wrap
      %nav.navi.clearfix
        %ul.nav
          %li.hidden-folded.m-b-sm.text-xs.text-muted.uppercase.padder.m-t.m-b-sm
            %span Menu
          %li
            = link_to dashboard_path, class: "auto", title: "Dashboard" do
              %span Dashboard
          %li
            = link_to inbox_path do
              %span Inbox
          %li
            = link_to leaderboards_path, class: "auto", title: "Market" do
              %b.badge.bg-info.pull-right
              %span Leaderboards
          %li
            %a.auto{:href => ""}
              %span Calendar
          %li
            = link_to "contacts_path", class: "auto", title: "Contacts" do
              %span Contacts
