%head
  %title Krossover Konnect - Demo
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  <script data-turbolinks-track="true" src="/assets/jquery.easypiechart.fill.js?body=1"></script>
  = csrf_meta_tags
